
<header>
    <nav class="nav-list">
        <p>App Web Full Stack</p>
        <img src="favicon.ico" class="favicon">
        <img src="/assets/images/technologies/spring.svg" class="favicon1">
        <ul class="nav-links">
            <li><a routerLink="/tecns">Inicio</a></li>
            <li><a routerLink="/form">Crear cliente</a></li>
            <li><a routerLink="/clientes">Listado de clientes</a></li>
        </ul>
    </nav>

    <nav class="nav-list nav-list2">
        <ul class="nav-links2">
            <li>Álvaro Sánchez Vélez</li>
            <li>
                <a href="https://www.linkedin.com/in/alvaro-sanchez-velez/"
                   target="_blank"><img src="/assets/images/linkedin.svg"
                   class="icons">
                </a>
            </li>
            <li>
                <a href="https://github.com/Alvarosanchezz3"
                   target="_blank"><img src="/assets/images/github.svg"
                   class="icons">
                </a>
            </li>
            <li><a href="mailto:alvarosanchezvelez1@gmail.com" 
                   target="_blank"><img src="/assets/images/email_white.svg"
                   class="icons">
                </a>
            </li>
        </ul>
    </nav>
</header>