<div class="container-tecns">
    <div class="title-container">
        <h2 class="title">Estructura de la aplicación: </h2>
    </div>

    <div class="tecns">
        <div class="tecn-card">
            <div class="title-container">
                <h2 class="title-tecns">Java</h2>
                <img src="assets/images/technologies/java.svg" alt="Java"> 
            </div>
            <p class="desc">Utilizado para desarrollar el Back-End de la aplicación, gestiona la lógica empresarial y la interacción con la base de datos, en este caso MySQL.</p>
        </div>
        <div class="tecn-card">
            <div class="title-container">
                <h2 class="title-tecns">Spring (Framework)</h2>
                <img src="assets/images/technologies/spring.svg" alt="Spring">  
            </div>
            <p class="desc">Utilizado para construir la API RESTful que sirve como interfaz entre el frontend y el backend. Spring facilita la gestión de dependencias, la configuración y proporciona funcionalidades como la gestión de transacciones.</p>
        </div>
        <div class="tecn-card">
            <div class="title-container">
                <h2 class="title-tecns">MySQL</h2>
                <img src="assets/images/technologies/MySQL.svg" alt="MySQL">
            </div>
            <p class="desc">Empleado para almacenar y gestionar los datos de los clientes y otras entidades en la aplicación, proporcionando una estructura organizada y eficiente para la persistencia de datos de todos los clientes.</p>
        </div>

        <div class="tecn-card">
            <div class="title-container">
                <h2 class="title-tecns">HTML / CSS</h2>
                <img src="assets/images/technologies/html.svg" alt="HTML">
                <img src="assets/images/technologies/css.svg" alt="CSS">   
            </div>
            <p class="desc">Empleado en el Front-End para definir la estructura básica de las páginas web y definir la estética, disposición y diseño de los elementos</p>
        </div>
        <div class="tecn-card">
            <div class="title-container">
                <h2 class="title-tecns">TypeScript</h2>
                <img src="assets/images/technologies/TypeScript.svg" alt="TypeScript"> 
            </div>
            <p class="desc">Utilizado en el Front-End para la creación de los componentes de la aplicación, estos mejoran la calidad del código, facilitan el mantenimiento y proporcionan un desarrollo más robusto</p>
        </div>
        <div class="tecn-card">
            <div class="title-container">
                <h2 class="title-tecns">Angular (Framework)</h2>
                <img src="assets/images/technologies/angular.svg" alt="angular">  
            </div>
            <p class="desc">Empleado en el Front-End para crear una interfaz de usuario dinámica y reactiva. Angular facilita la manipulación del DOM, la gestión del estado de la aplicación y la comunicación efectiva con la API REST</p>
        </div>
    </div>
</div>
